.login {
    background-color: white;
    width: 360px;
    height: 350px;
    margin: 150px auto;
    padding: 40px;
    border-radius: 15px;
}

.sign {
    position: relative;
    right: -30px;
    top: 20px;
}

body {
    background: linear-gradient(to right,#00FFFF,#9932CC);
}

h1 {
    text-align: center;
}