<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plf.student.mapper.StudentMapper">

    <select id="selectStudent" resultType="com.plf.student.model.Student">
        select studentId, studentName, studentAge
        from t_student
        limit #{start},#{size};
    </select>

    <insert id="addStudent">
        insert into t_student(studentName, studentAge)
        values (#{student.studentName}, #{student.studentAge});
    </insert>

    <select id="selectCount" resultType="int">
        select count(*) from t_student;
    </select>
</mapper>